extends layout

block content
 h1= title

 form(id='earthForm', action="/resource/earth", method="POST")
  div.form-group
    label.earthAttr(for='continents') earth continent
    input#continents(type='text', name='continents')
  div.form-group
    label.earthAttr(for='continentnum') earth continentnum
    input#continentnum(type='number', name='continentnum')
  div.form-group
    label.earthAttr(for='country') earth country
    input#country(type='text', name='country')
  
  input(type="submit")

 script.
  document.forms['earthForm'].addEventListener('submit', (event) => {
   event.preventDefault();
   // TODO do something here to show user that form is being submitted
   fetch(event.target.action, {
    method: 'POST',
    body: new URLSearchParams(new FormData(event.target)) // event.target is the form
   }).then((resp) => {
    return resp.json(); // or resp.text() or whatever the server sends
   }).then((body) => {
    alert("Save succeded")
    // TODO handle body
   }).catch((error) => {
    // TODO handle error
    alert("Save failed " + error )
   });
  });